/* EStilos da pagina Index.html*/
.center {
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
   
}


.container {
    display: flex;
    flex-flow: row;
    text-align: center;
    margin-top: auto;
}


.p-30 {
    
    padding: 30px;
}

.br-50 {
    border-radius: 50%;
}

.wh-300{
    width: 350px;
    height: 350px;
}


#menu {
    color: #fff;
    background-color: black;
    width: 100%;
    height: 45px;
    margin: auto;
    display: flex;
    overflow: hidden;
}   
a {
    text-decoration: none;
    color: white;
}


.txtmenu :last-child {
    border-right: none;
}

#homemenu, #homecontato {
   
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    cursor: pointer;
    
    
}

p {
    color: white;
    font-size: 15px;
   
    
}


body {
    flex-direction: row;
    background-color: rgb(12, 11, 11);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

.inativo:hover{
    background-color: rgb(66, 62, 62);
}

.ativo {
    background-color:rgb(96, 94, 94);
}

.iconesRedes{

    display: flex;
    display: block;
    text-align: center;
    border-bottom: 1px solid;
    width: -100px;
    padding: 10px;
    font-size: 50px; color: rgb(255, 255, 255);
    flex-flow: row;

  
    
   
    
 
   
    

}

/* EStilos da pagina contato.html*/

/* campo cadastro*/
.paginacontato{
    color: rgb(231, 225, 225);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.container{
    display: flex;
}


.formaluriodecadastro{
    color: white;
    flex:1;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px;
    
    
    
}

label {

    display: block; /* Isso fará com que o rótulo apareça em uma nova linha */
    font-weight: bold; /* Deixa o texto em negrito */
    margin-bottom: 5px;
}

input {
    width: 100%; /* Ocupa a largura total do contêiner pai */
    padding: 5px; /* Adiciona um preenchimento interno para melhorar a aparência */
    border: 1px solid #ccc; /* Adiciona uma borda cinza */
    border-radius: 5px; /* Adiciona cantos arredondados */
}

textarea{
    border-radius: 5px;
    width: 100%;
}

.endereco{
    color: white;
    flex:1;
    padding: 10px;
    border-radius: 5px;
}

iframe{
    width: 400px; /* Defina a largura desejada para o iframe */
    height: 250px; /* Defina a altura desejada para o iframe */
    border: 0;
    margin-top: -100px; 
    padding: 80px;
    border-radius: px;
}

.iconesRedessociais{

    display: flex;
    display: block;
    text-align: center;
    border-bottom: 1px solid;
    width: -100px;
    padding: 10px;
    font-size: 50px; color: rgb(255, 255, 255);
    flex-flow: row;
}
    
    
    
    
    

    
    


    
    
    




